@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main-layout {
  box-shadow: 0 0 48px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.main-layout h2 {
  text-align: center;
}

.container {
  padding: 20px;
  position:absolute;
  top:0px;
  bottom:50px;
  left:0px;
  right:0px;
  overflow:auto;
}